.back{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    display: flow-root;
    background-size: cover;
}

.link{
    color: rgba(255, 255, 255, 0.842) 
    
};

.all{
    position: relative;
    height: 5rem;
}

.all button{
    display: flex;
    position: absolute;
    left: 10%;
};

.back{
    background-image: ('../img/planeta-Tierra.jpg');
}



