.app{
   background-image: url('../img/planeta-Tierra.jpg');
   width: 100%;
   height: 100vh;
   position: relative;
   background-size: cover;
   display: flex;
}

.app h1{
    color: rgba(255, 255, 255, 0.712);
    position: absolute;
    left: 40%;
}